.btn {
    width: fit-content;
    border: none;
    background-color: rgb(206, 206, 206);
    padding: 15px;
}

.btn:hover {
    background-color: rgb(215, 215, 215);
}

.btn:active {
    background-color: rgb(180, 179, 179);
    padding: -2px -2px 0px 2px;
    box-shadow: 0px 0px;
}

